.md-form.has-error {
    margin-bottom: 40px;
    margin-top: 10px;
}

.md-form.has-error .form-control{
    border-bottom: 1px solid #c43838;
}

.md-form.has-error label{
    color: #c43838;
}

.md-form.has-error .error-block{
    position: absolute;
    left: 0;
    margin-top: 0px;
}
.md-form.has-error .error-block {
    color:#c43838;
    text-align: left;
    font-size: 12px;
    font-style: italic;
}